* {
  box-sizing: border-box
}

body {
  background-color: lightblue;
}

h1 {
  color:grey;
}

h1 { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large; 
  font-weight: bold;
  text-decoration: pink;
  text-align: center;
}

@media screen and (max-width: 550px) {
  h1 { 
      font-size: x-large; 
  }
}

@media screen and (max-width: 420px) {
  h1 {
      font-size: medium; 
  }
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  width: 180px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  width: 80px;
}

li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#f44336;
  color: white;
}


/* page 3 */
.contact-form-container {
  margin-top: 20px; 
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-form-container input[type="text"],
.contact-form-container select,
.contact-form-container textarea {
  width: 100%; 
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
}

.contact-form-container input[type="submit"] {
  background-color: rgb(7, 86, 177);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form-container input[type="submit"]:hover {
  background-color: #45a049;
}

/* sign up pop up */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.form-container {
  padding: 16px;
}

.form-container hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.form-container input[type="text"], 
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


.form-container input[type="text"]:focus, 
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[type="submit"],
.form-container input[type="button"] {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;       
  opacity: 0.9;
}

.form-container input[type="submit"]:hover,
.form-container input[type="button"]:hover {
  opacity: 1;
}

.signupbtn,
.cancelbtn {
  width: 50%;
}

.signupbtn {
  background-color: #4CAF50;
  float: left;
}

.cancelbtn {
  background-color: #f44336;
}

@media screen and (max-width: 500px) {
  .form-container input[type="submit"],
  .form-container input[type="button"] {
      width: 100%;
  }
}


.container1.row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar1 {
  background-color: #f2f2f2;
  
}

.navbar1.col-8,
.navbar1.col-sm-4,
.navbar1.col-md-3 {
  -webkit-transition: none;
       -o-transition: none;
          transition: none; 
}

.active a {
  color: #f44336;
}


.content1.col {
  min-width: 100%; 
  overflow-x: hidden; 
}

.btn-signup {
  background-color: #4CAF50;
  color: white;
  padding: 9px;
  border: none;
}


marquee img {
  height: 100vh;
  max-height: 500px;
}
